@font-face {
  font-family: "Lato";
  src: local("Lato"), url("fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url("fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: "Vtks-LongTime";
  src: local("Vtks-LongTime"), url("fonts/Vtks-LongTime.ttf") format("truetype"); }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #484e78;
  background: -moz-radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #8388af), color-stop(100%, #484e78));
  background: -webkit-radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
  background: -o-radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
  background: -ms-radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
  background: radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
}

p.power {
  font-family: "Vtks-LongTime";
}

.reveal {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #ffffff; }

::selection {
  color: white;
  background: #134674;
  text-shadow: none; }

.reveal p {
  margin: 0 0 8px 0; }

table.paddedTable, .thickPaddedTable {
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}
.paddedTable th, .paddedTable td {
  border: 1px;
  border-style: solid;
  padding: 5px;
}
table.slightlyPaddedTable, .thickPaddedTable {
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}
.slightlyPaddedTable th, .slightlyPaddedTable td {
  border: 1px;
  border-style: solid;
  padding: 10px;
}
.thickPaddedTable th, .thickPaddedTable tr, .thickPaddedTable td {
  border: 1px;
  border-style: solid;
  padding: 25px;
}
.thickPaddedTable th {
  background-color: #484e78;
}
table.tocTable {
  border-style: solid 1px;
  border-collapse: collapse;
}
.tocTable td {
  padding: 8px;
  font-size: 30px;
  text-align: left;
}
.tocTable tr:nth-child(even) {
  background: rgba(73, 78, 121, 0.8);
}
.tocTable tr:nth-child(odd) {
  background: rgba(57, 62, 96, 0.8);
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1 {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h2 {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 1.0em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h3 {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h4 {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h5 {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 0.7em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h6 {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 0.6em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #d0c675;
  text-decoration: none; }

.reveal a:not(.image):hover {
  color: #beb66d;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #9d81a2; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  max-width: 100%;
  max-height: 100%;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #9d81a2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls button.navigate-left,
.reveal .controls button.navigate-left.enabled {
  border-right-color: #9d81a2; }

.reveal .controls button.navigate-right,
.reveal .controls button.navigate-right.enabled {
  border-left-color: #9d81a2; }

.reveal .controls button.navigate-up,
.reveal .controls button.navigate-up.enabled {
  border-bottom-color: #9d81a2; }

.reveal .controls button.navigate-down,
.reveal .controls button.navigate-down.enabled {
  border-top-color: #9d81a2; }

.reveal .controls button.navigate-left.enabled:hover {
  border-right-color: #ba99c0; }

.reveal .controls button.navigate-right.enabled:hover {
  border-left-color: #ba99c0; }

.reveal .controls button.navigate-up.enabled:hover {
  border-bottom-color: #ba99c0; }

.reveal .controls button.navigate-down.enabled:hover {
  border-top-color: #ba99c0; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #9d81a2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
LISTS
**********************************************/
reveal ol, .reveal dl, .reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
    list-style: none;
}

.reveal li {
    margin: 0 0 8px 0;
    text-align: left;
}

/*********************************************
SNIPPETS
**********************************************/

.reveal code {
	display: block;
	position: relative;
	width: 90%;
  margin: 20px 0;

	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
  font-weight: normal;
	line-height: 1.2em;

	word-wrap: break-word;
  box-shadow: 1px 0px 1px 1px rgba(0,0,0,0.3);
  background-color: #262626;
  padding: 15px;
	overflow: auto;
	border: 1px solid #ddd;
}

/*********************************************
* OVERRIDES
**********************************************/
.left-align{text-align:left}
.right-align{ text-align:right}
.blue{color:#01A9B4}
