@font-face {
  font-family: "Lato";
  src: local("Lato"), url("fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url("fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: "Vtks-LongTime";
  src: local("Vtks-LongTime"), url("fonts/Vtks-LongTime.ttf") format("truetype"); }

@font-face {
  font-family: "Liar-Script";
  src: local("Liar-Script"), url("fonts/Liar-Script.ttf") format("truetype"); }

/*********************************************
 * REVEAL.JS - Override the CSS layout https://github.com/hakimel/reveal.js/issues/180
 *********************************************/
.reveal .slides {
  height: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
}

.reveal .slides>section {
  height:100% !important;
}

.reveal .slides>section>section {
  height:100% !important;
}

div.fill-row {
  height: 96%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

div.fill-col {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fragment.current-visible.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
html, body {
  background: #484e78;
  background: -moz-radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #8388af), color-stop(100%, #484e78));
  background: -webkit-radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
  background: -o-radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
  background: -ms-radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
  background: radial-gradient(center, circle cover, #8388af 0%, #484e78 100%);
}

p.fancy {
  font-family: "Liar-Script" !important;
  padding-top: 16px !important;
  font-size: 10vh !important;
}

p.power {
  font-family: "Vtks-LongTime" !important;
}

div.row-line-tools {
  padding: 0 0 105px 0;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
span.row-line-tools {
  flex: none;
  flex-basis: 15%;
  vertical-align: top;
  padding: 10px;
}


div.row-line-slack {
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

span.row-line-slack {
  flex: none;
  flex-basis: 23%;
  vertical-align: top;
}

.slack-label {
  font-size: 0.5em !important;
}

#intro-logo {
  height:68%;
  margin-bottom: auto;
}

img.teammembers {
  margin: 5px 0 0 0 !important;
}

h6.teammembers {
  font-size: 0.52em !important;
  text-align: center !important;
  margin: 0 !important;
}

p.teammembers {
  font-size: 0.46em !important;
  text-align: center !important;
  margin: 0 !important;
}

.license-img {
  height: 20px;
  width: 20px;
  margin: 0 !important;
}

.license-container {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
}
p.license-text {
  font-size: 0.25em !important;
  line-height: auto;
  text-align: center !important;
}

.reveal {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #ffffff; }

::selection {
  color: white;
  background: #134674;
  text-shadow: none; }

table.paddedTable, .thickPaddedTable {
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}
.paddedTable th, .paddedTable td {
  border: 1px;
  border-style: solid;
  padding: 5px;
}
table.slightlyPaddedTable, .thickPaddedTable {
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}
.slightlyPaddedTable th, .slightlyPaddedTable td {
  border: 1px;
  border-style: solid;
  padding: 10px;
}
.thickPaddedTable th, .thickPaddedTable tr, .thickPaddedTable td {
  border: 1px;
  border-style: solid;
  padding: 25px;
}
.thickPaddedTable th {
  background-color: #484e78;
}
table.tocTable {
  border-style: solid 1px;
  border-collapse: collapse;
}
.tocTable td {
  padding: 8px;
  font-size: 0.9em;
  text-align: left;
}
.tocTable tr:nth-child(even) {
  background: rgba(73, 78, 121, 0.8);
}
.tocTable tr:nth-child(odd) {
  background: rgba(57, 62, 96, 0.8);
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1 {
  margin: 6px 0 6px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 11vh;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h2 {
  margin: 6px 0 6px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 10.5vh;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h3 {
  margin: 6px 0 6px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 9vh;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h4 {
  margin: 6px 0 6px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 7.5vh;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h5 {
  margin: 6px 0 6px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 6vh;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h6 {
  margin: 6px 0 6px 0;
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 4.5vh;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal p {
  color: #ffffff;
  font-family: "Lato-Bold", Impact, sans-serif;
  font-size: 7.5vh;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  margin: 0;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #d0c675;
  text-decoration: none; }

.reveal a:not(.image):hover {
  color: #beb66d;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #9d81a2; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  max-width: 100%;
  max-height: 100%;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #9d81a2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls button.navigate-left,
.reveal .controls button.navigate-left.enabled {
  border-right-color: #9d81a2; }

.reveal .controls button.navigate-right,
.reveal .controls button.navigate-right.enabled {
  border-left-color: #9d81a2; }

.reveal .controls button.navigate-up,
.reveal .controls button.navigate-up.enabled {
  border-bottom-color: #9d81a2; }

.reveal .controls button.navigate-down,
.reveal .controls button.navigate-down.enabled {
  border-top-color: #9d81a2; }

.reveal .controls button.navigate-left.enabled:hover {
  border-right-color: #ba99c0; }

.reveal .controls button.navigate-right.enabled:hover {
  border-left-color: #ba99c0; }

.reveal .controls button.navigate-up.enabled:hover {
  border-bottom-color: #ba99c0; }

.reveal .controls button.navigate-down.enabled:hover {
  border-top-color: #ba99c0; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #9d81a2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
LISTS
**********************************************/
reveal ol, .reveal dl, .reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
    list-style: none;
}

.reveal li {
    font-size: 7vh;
    margin: 0 0 8px 0;
    text-align: left;
}

ol.normal {
  margin-left: 40px;
}
ol.normal li {
  font-size: 8.5vh;
}

h1.break {
  color: #e5dfb3;
}

/*********************************************
SNIPPETS
**********************************************/

.reveal code {
	display: block;
	position: relative;
	width: 90%;
  margin: 20px 0;

	text-align: left;
	font-size: 4vh;
	font-family: monospace;
  font-weight: normal;
	line-height: 1.2em;

	word-wrap: break-word;
  box-shadow: 1px 0px 1px 1px rgba(0,0,0,0.3);
  background-color: #262626;
  padding: 15px;
	overflow: auto;
	border: 1px solid #ddd;
}

.smaller-code {
  font-size: 3.2vh !important;
}

/*********************************************
 * BROWSER SPECIFIC STYLES
 *********************************************/

/* prevents flicker in browser for animations */
.safari h1,
.safari li {
  -webkit-backface-visibility: hidden;
}

/*********************************************
* OVERRIDES
**********************************************/
.left-align{text-align:left}
.right-align{ text-align:right}
.blue{color:#01A9B4}

.team.fill-row {justify-content: center;}

.flexy-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flexy-center.column {
  flex-direction: column;
}

.flexy-center code {
  min-width: 40vw;
}

.inline-bullet-list {
  display: flex;
  padding: 0;
}

.inline-bullet-list li {
  list-style: disc outside none;
  margin: 0.5rem 2.5rem;
}

div.fill-row.team {
  flex-wrap: nowrap;
}

span.teammembers {
  flex-basis: 17%;
}

.teammembers:nth-child(odd) {
  margin-top: -6rem;
}
.teammembers:nth-child(even) {
  margin-top: 5rem;
}

/*********************************************
* CSS SLIDE EXAMPLES
**********************************************/
.cascading {
  display: flex;
  justify-content: center;
}
.pseudo-classes {
  background: #000;
  display: inline-block;
  padding: 5px 10px !important;
}
.pseudo-classes a {
  color: #f00 !important;
  transition: color 2s;
}
.pseudo-classes a:hover {
  color: #f0f !important;
}
.pseudo-classes a:visited {
  color: #0f0 !important;
}
.pseudo-classes a:active {
  color: #00f !important;
}
.pseudo-example:before {
  content: '↞♥⤛ ';
  font-size: 3rem;
}
.pseudo-example::after {
  content: ' ⤜♥↠';
  font-size: 3rem;
}
