<!doctype html>
<html>
  <head>
    <title>Fake It 'Til You Make It- Data Binding & DOM Manipulation - Coding &amp; Cocktails KC</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="This is the official Coding &amp; Cocktails Front End Architecure course."/>
    <meta name="author" content="Kansas City Women in Technology"/>
    <meta name="keywords" content="Kansas City Women in Technology, kcwit, women engineers, learn to code, girls in tech, women in tech, coding and cocktails, learn front-end development"/>
    <meta property="og:title" content="Front End Architecture - Coding &amp; Cocktails KC" />
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://codingandcocktails.kcwomenintech.org/images/logo.png" />
    <meta property="og:url" content="http://codingandcocktails.kcwomenintech.org"/>
    <meta property="og:description" content="This is the official Coding &amp; Cocktails Front End Architecture course."/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="http://codingandcocktails.kcwomenintech.org"/>
    <meta name="twitter:title" content="Coding And Cocktails by Kansas City Women in Technology"/>
    <meta name="twitter:description" content="This is the official Coding &amp; Cocktails Front End Architecture course."/>
    <meta name="twitter:image" content="http://codingandcocktails.kcwomenintech.org/images/logo.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/reveal.css"/>
    <link rel="stylesheet" href="/css/theme/codingandcocktails.css" id="theme"/>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
      <!-- Slide to show during check-in and mingling -->
        <section>
          <h3>Fake It 'Til You Make It <br> Data Binding & DOM Manipulation</h3>
          <img src="/images/shared/logo-large.png" alt="Coding &amp; Cocktails" id="intro-logo"/>
        </section>
        <!-- These sections are auto loaded from js/custom.js --> 
        <section id="leadership-section"></section>
        <section>
          <h1>Join us on...</h1>
          <a href="https://kcwit.slack.com" target="_blank" class="fragment">
            <img src="/images/shared/slack-logo-white.png" alt="Slack" width="60%"/>
          </a>
          <br>
          <br>
          <div class="row-line-slack" style="margin-left: -0.5em;">
            <span class="row-line-slack fragment">
              <a href="https://www.goodhousekeeping.com/life/inspirational-stories/g19502123/women-changing-the-world-at-age-50/?slide=3">
                <img src="/images/slack-previews/slack-genx.jpg" alt="Carolyn Westhoff" />
              </a>
              <p class="slack-label">#generation-x</p>
            </span>
            <span class="row-line-slack fragment">
              <img src="/images/slack-previews/slack-tabletop.jpg"/>
              <p class="slack-label">#tabletop</p>
            </span>
            <span class="row-line-slack fragment">
              <img src="/images/slack-previews/slack-movies.gif"/>
              <p class="slack-label">#movies</p>
            </span>
            <span class="row-line-slack fragment">
              <img src="/images/slack-previews/slack-catsdoggos.jpg"/>
              <p class="slack-label">#cats_and_doggos</p>
            </span>
          </div>
          <div>
        </section>
        <section>
          <h2>KC Women In Technology Job Board</h2>
          <a href="http://kcwomenintech.org/jobs/" target="_blank" style="font-size: 72px;">
            <img src="/images/shared/job-board.png" alt="KC Women In Technology Job Board" width="60%"/>
            kcwomenintech.org/jobs
          </a>
        </section>
        <section>
            <h2>Our mentors</h2>
            <img src="/images/10-oct/wonder-woman.jpg" alt="Mentors" height="70%" style="margin: 15px auto;" />
            <h4>are super heroes!</h4>
        </section>
        <section>
          <h2>Tonight's Agenda: Angular Components</h2>
            <br><br><br><br><br>
            <li class="fragment">Data Binding</li>
            <li class="fragment">Interpolation</li>
            <li class="fragment">Directives</li>
        </section>
        <section>
          <h3>This stuff is a challenge!</h3>
          <br><br><br>
          <p class="fragment">
            Don’t be discouraged if you don’t finish. We cover a lot of difficult material that will take time to understand. We are here (and on Slack after the session) to help!
          </p>
        </section> 
  <!-- part 1-->
      <section>
        <h1>Vocabulary</h1><br><br>
        <ul>
          <li class="fragment">Class - blueprint to create multiples of the same thing in code</li><br>
          <li class="fragment">Constructor - creates an instance of a class</li><br>
          <li class="fragment">Interface - responsible for ensuring an instance of a class created has specified properties</li><br>
        </ul>
      </section>
      <section>
        <h1>Data Binding</h1>
        <br>
        <p class="fragment">Pass data around your application<br><br>
        <p class="fragment">The way data is <i>bound</i> depends on syntax</p><br>
          <ul>
            <li class="fragment" style="padding-left: 20px;">Component to the view</li><br>
            <li class="fragment" style="padding-left: 20px;">View to component</li><br>
            <li class="fragment" style="padding-left: 20px;">Component to component - Parent & child</li><br>
          </ul>
        </p>
        <br><br>
      </section>
      <section>
        <h1>Data Binding</h1>
          <br><br>
          <p class="fragment">
            {{ }} data is sent to the view from the component
          </p><br>
          <code class="fragment">&lt;p&gt;My dog's name is {{user.dogsName}}&lt;/p&gt;</code>
          <br><p class="fragment">
            This is typically where you'd use text in HTML, but we'll use interpolation instead!
          </p>
      </section>
      <section>
        <h1>Interpolation</h1><br>
        <p class="fragment">An expression that Angular evaluates and converts to a string</p><br>
        <p class="fragment">Surrounded by double curly braces: {{  }}</p><br>
        <code class="typescript fragment">{{animal.name}}</code>
        <code class="typescript fragment">{{3 + 5}}</code>
        <code class="html fragment">&lt;p&gt;My age is {{getMyAge() - 5}}&lt;/p&gt;<br>&lt;!-- My age is 21 --&gt;</code>
      </section>
      <section>
        <h1>Data Binding</h1><br>
          <p class="fragment">
            ( ) is a value taken from the view and passed to the component (user interaction w/ the page)
          </p><br>
          <code class="fragment">&lt;button (click)="delete()"&gt;Delete&lt;/button&gt;</code>
          <br><p class="fragment">
            This is typically seen on attributes<br>in template elements
          </p>
      </section>
      <section>
        <h1>Adding data to a component</h1><br>
        <ul>
        <li class="fragment">Start with a model: a structured way of representing an object</li><br>
        <li class="fragment">Import the model to the component</li><br>
        <li class="fragment">Setup or fetch initial data in OnInit, one of the component's lifecycle hooks</li><br>
        <li class="fragment">Finally, write HTML for the template</li><br>
      </ul>
      </section>
      <section>
        <h1>Directives</h1>
        <br><br>
        <p class="fragment"><br>Angular transforms the DOM according to the instructions given by directives.</p><br>
        <p class="fragment">A directive is a class with a @Directive() decorator</p><br>
        <p class="fragment">Components are technically a directive</p><br>
      </section>
      <section>
        <h1>Directives</h1>
        <br><br><br>
        <p class="fragment">There are two specific directives</p><br>
          <ul>
            <li class="fragment" style="padding-left: 20px;">Structural</li><br>
            <li class="fragment" style="padding-left: 20px;">Attribute</li><br>
          </ul>
        </p>
        <br><br>
      </section>
      <section>
        <h1>Structural Directives</h1>
        <br>
        <p class="fragment">Replace element in the DOM conditionally with ngIf</p><br>
        <ul>
          <li class="fragment" style="padding-left: 20px;"> Component exports: <code class="typescript fragment">age = 19;</code></li><br>
          <li class="fragment" style="padding-left: 20px;"> Template code: <code class="typescript fragment">&lt;p *ngIf="age &lt; 21"&gt;
            <br><br>Check out our great selection of mocktails!<br><br>
            &lt;/p&gt;</code></li><br>
        </ul>
        </p>
      </section>
      <section>
        <h1>Structural Directives</h1>
        <br>
        <p class="fragment">Replace element in the DOM conditionally with ngFor</p><br>
        <ul>
          <li class="fragment" style="padding-left: 20px;"> Component exports: <code class="typescript fragment">drinks =  ['Margarita', 'Cosmopolitan', 'Long Island', 'Beer'];</code></li><br>
          <li class="fragment" style="padding-left: 20px;"> Template code: <code class="typescript fragment">&lt;ul&gt;&lt;li *ngFor="let drink of drinks"&gt;
            <br><br>{{drink}}<br><br>
            &lt;/li&gt;&lt;/ul&gt;</code></li><br>
        </ul>
        </p>
        <br><br>
      </section>
      <section>
        <h1>Attribute Directives</h1>
        <br><br> <br><br> <br><br>
        <p class="fragment"><br>Only modifies the behavior or appearance of an element that already exists on the DOM</p><br>
      </section>
<!-- break slide -->
        <section>
          <h1>What's Next</h1>
          <br>
          <ol class="normal">
            <li class="fragment">Join <a href="https://kcwit.slack.com/messages/generalchat/" target="_blank">Slack</a></li>
            <li class="fragment">Do <a href="https://kansascitywomenintechnology.github.io/cocktails-worksheets/#/spa/3data/" target="_blank">tonight's worksheet</a></li>
            <li class="fragment">Find an <a href="http://lmgtfy.com/?q=Single+Page+App+tutorial" target="_blank">online tutorial on SPAs</a></li>
            <li class="fragment">Register for <a href="http://codingandcocktails.kcwomenintech.org/#signup" target="_blank">next month's event</a></li>
          </ol>
          <img src="/images/shared/logo.png" alt="Coding &amp; Cocktails" style="position: absolute; top: 125px; right: 0px;" height="300vh" />
        </section>
        <section>
          <h1>Keep up with us</h1>
          <br><br>
          <a class="fragment" href="http://codingandcocktails.kcwomenintech.org" target="_blank">codingandcocktails.kcwomenintech.org</a>
          <br><br>
          <a class="fragment" href="https://www.facebook.com/KCWomenInTech/" target="_blank"><img src="/images/shared/fb.png" width="120"/></a>
          <a class="fragment" href="https://www.eventbrite.com/o/kansas-city-women-in-technology-4568105457" target="_blank"><img src="/images/shared/eventbrite.png" width="350"/></a>
          <a class="fragment" href="https://www.meetup.com/Kansas-City-Women-in-Technology/" target="_blank"><img src="/images/shared/meetup.png" width="190"/></a>
          <a class="fragment" href="https://twitter.com/KCWomeninTech" target="_blank"><img src="/images/shared/twitter.png" width="150"/></a>
          <br><br>
          <div class="fragment">
            <p>#LadyDevs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#KCWiT</p>
            <br>
            <p>#CodingAndCocktailsKC</p>
          </div>
        </section>
      </div>
    </div>
    <script src="/lib/js/head.min.js"></script>
    <script src="/js/reveal.js"></script>
    <script src="/js/custom.js"></script>
    <script>
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        width: '100%',
        height: '100%',
        history: true,

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
    </script>
	</body>
</html>
